.col-2.rounded.vh-100 p {
    font-size: 0.8rem;
}

.col-2.rounded.vh-100 span {
    font-size: 0.7rem;
}

.col-5.d-flex.justify-content-end button {
background-color: black;
color: white;
border: none;

}